extends ../shared/template
block content
  .row 
    .col-xs-1
    .col-xs-8
      h3 Message from #{msg.sender.name}
      .panel.panel-default
        .panel-body
          p Date : #{msg.date.toDateString()}
          h4 #{msg.message}
    .col-xs-2
      a.thumbnail(href='#')
        img(src=msg.sender.photo)
    .col-xs-1
  .row
    .col-xs-1

    .col-xs-3
      button.btn.btn-primary: a(href='/users/#{msg.sender.email}') Reply to #{msg.sender.name}


block scripts
