extends ../shared/template
block content
  .panel.panel-default
    .panel-body#panelRED
      .row
        .col-xs-12.col-md-3#traderInfo
          table.table.table-hover#traderBorder
            thead
              tr
                th#traderTh: a#traderName= trader.name
                th.trader-photo(style='background-image:url(#{trader.photo});')
            tbody
              each prop in Object.keys(trader)
                unless prop === '_id' || prop === 'password' || prop === 'photo' || prop === 'isPublic' || prop === 'tagline' || prop === 'name' || prop === 'unread'
                  tr
                    td= prop.charAt(0).toUpperCase() + prop.substring(1)
                    td= trader[prop]


        .col-xs-12.col-md-9
          h4.table-header Items for Trade
          table.table.table-hover#userSaleItems
            thead
              tr
                th Photo
                th Type
                th Description
                th Location
                th Date
            tbody
              each saleItem in saleItems
                tr
                  td
                    .userItemPhoto(style='background-image: url("#{saleItem.photo}");')
                  td: a(href='/bid/#{saleItem._id}')=saleItem.name
                  td= saleItem.description
                  td= saleItem.location
                  td= saleItem.datePosted

      .row
        .col-xs-12.col-md-4
          .panel.panel-default
            .panel-body
              form(role='form', method='post', action='/messages/#{trader._id}')
                .row
                  .col-xs-12
                    .form-group
                      label(for='message') Message:
                      textarea.form-control#message(name='message', autofocus=true)
                      input(type='hidden' name='mtype' value='internal')
                    .form-group
                      button.btn(type='submit') Send Message

        .col-xs-12.col-md-8
          h4.table-header User's Collection
          table.table.table-hover#userItems
            thead
              tr
                th Photo
                th Type
                th Description
                th Location
            tbody
              each bidItem in biddableItems
                tr
                  td.userItemPhoto(style='background-image: url("#{bidItem.photo}");')
                  td= bidItem.name
                  td= bidItem.description
                  td= bidItem.location

block scripts
