extends ../shared/template
block content
  h3#marketplace Wine Market
  .panel.panel-defaul
    .panel-body#redPanel
      .row
        .col-xs-12
          #marketplace-map
      .row
        .col-xs-12
          table.table.table-hover#marketplace-table
            thead
              tr
                th Photo
                th Name
                th Description
                th!= helper.sort(query, 'datePosted', 'Date')
                th Location
                th Tags
                th Owner
            tbody
              each item in items
                tr.item(data-loc='#{item.location}', data-lat='#{item.lat}', data-lng='#{item.lng}', data-marker='#{item.mapMarker}').colorPicker
                  td.item-photo(style='background-image:url(#{item.photo})')
                  td.keys: a(href='/bid/#{item._id}')= item.name
                  td= item.description.substr(0, 25)
                  td= moment(item.datePosted).format('MMM D, YYYY')
                  td= item.location
                  td.keys!= helper.tags(query, item.tags)
                  td.keys: a(href='/users/#{item.owner.email}')= item.owner.name

block scripts
  script(src='/js/user/items-index.js')

