extends ../shared/template
block content
  h2 Bid Page
    .row
      .col-xs-12
        table.table.table-border
          thead Item
            tr
              th Photo
              th Name
              th Location
              th Description
          tbody
            tr
              td.item-photo(style='background-image:url(#{item.photo})')
              td: a(href='/bid/#{item._id}')= item.name
              td= item.location
              td= item.description
  if user._id.toString() === item.ownerId.toString()
    .row
      .col-xs-12
        p This is your item.
  else
    .row
      .col-xs-12
        #bids
          each bidItem in biddableItems
            #bid
              form(role='form', method='post', action='/bidding/#{bidItem._id}')
                  .bid-photo(style='background-image:url("#{bidItem.photo}");')
                  .bid-name= bidItem.name
                  .bid-location= bidItem.location
                  .bid-description= bidItem.description
                    input(type='hidden', name='itemUpForBidId', value=item._id)
                    input(type='hidden', name='itemOfferedId', value=bidItem._id)
                    input(type='hidden', name='offerOwnerId', value=bidItem.ownerId)
                    input(type='hidden', name='upForBidOwnerId', value=item.ownerId)
                    button#bidButton.btn.btn-success(type='submit') Bid It


block scripts
  script(src='/js/user/items-index.js')

